@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  line-height: 24px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' sans-serif;
}


body {
  width: 100%;
  display: flex;
  background-color: black;
  color:white;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./assets/images/bg01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
ul{
  list-style: none;
}

main{
  width: 360px;
  border-radius: 15px;
  border:1px solid rgba(255,255,255,0.1);
  box-shadow:0 0 20px rgba(7,15,15,0.5);
  overflow: hidden;
  position: relative;
  backdrop-filter: blur(3px);
}


.i{
  cursor: pointer;
  user-select: none; 
}


.play i{
  background: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
}




  /* DETAILS  */
.card.details{
  width: 100%;
  text-align: center;

}
.card.details{
  width: 100%;
  text-align: center;
  
}
.list ul::-webkit-scrollbar{
width:0px
}